<div class="container p-5">
  <h1 class="text-light">Wellcome</h1>
  <%= image_tag(current_user.avatar_thumbnail, class: 'rounded') if current_user && current_user.avatar_thumbnail %><br><br>
  <%= link_to 'Start chating', rooms_path, class: 'btn btn-primary' %>
</div>
