<div class="p-5 shadow card rounded bg-dark sticky-card">
  <div class="form-group msg-form">
    <%= form_with(model: [ @single_room, @message ], remote: true, class: 'd-flex') do |f| %>
    <%= f.text_field :body, id: 'chat-text', class: 'form-control msg-content', autocomplete: 'off' %>
    <%= f.submit data: { disable: false }, class: 'btn btn-primary text-dark border-light' %>
    <% end %>
  </div>
</div>
